@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "Android";
    src: url("../font/IDroid.otf");
}

*{
    margin: 0px;
}

:root {
    --cor1: #70C2E6;
    --cor2: #2AA9E0;
    --cor3: #2183AD;
    --cor4: #2F5261;
    --cor5: #124961;
    --font-pad: Arial, Helvetica, sans-serif;
    --font-and: Android;
    --font-des: 'Bebas Neue', cursive;
}

body {
    background-color: var(--cor1);
    font-family: var(--font-pad);
}

/*Início - Barra de rolagem*/

body::-webkit-scrollbar{
    width: 15px;
}

body::-webkit-scrollbar-track{
    background-color: var(--cor1);
}

body::-webkit-scrollbar-thumb{
    background-color: var(--cor3);
    border-radius: 10px;
    border: 2px solid var(--cor5);
}

/*Fim - Barra de rolagem*/

a.externo::after{
    content: "\00A0\1F517"
}
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    height: 200px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font: lighter 3em var(--font-des);
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.537);
}

header > p {
    color: white;
    font: 1.4em var(--font-pad);
    max-width: 500px;
    margin: auto;
    padding: 0px 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.537);
}

nav {
    background-color: var(--cor5);
    padding: 20px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.292);
}

nav > a {
    color: var(--cor2);
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.4s;
}

nav > a:hover {
    background-color: var(--cor1);
    color: var(--cor5);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.455);
    border-radius: 0px 0px 10px 10px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main h1 {
    color: var(--cor5);
    font-weight: normal;
    font-size: 1.8em;
}

main h2{
    font: 1.4em var(--font-and);
    color: var(--cor5);
    background-image: linear-gradient(to right, var(--cor2), transparent);
    padding: 2px 10px;
    font-weight: normal;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor2);
    padding: 3px;
}

main a:hover{
    text-decoration: underline;
    background-color: var(--cor3);
    color: white;
}

main img { /*Ou main > article > img*/
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{
    background-color:var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.435);
    border-left: 10px;
    border: 3px solid var(--cor5);
}

aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 6px 0px 8px rgba(0, 0, 0, 0.217);
}

aside > ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: "\2714\00A0\00A0"; /*Não é compatível com todos os navegadores*/
    font-size: 0.8em;
    line-height: 22px;
}

article > h1 {
    font-family: var(--font-and);
}

footer {
    text-align: center;
    background-color: var(--cor5);
    color: white;
    font-size: 1em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: var(--cor1);
    text-decoration: underline;
}